@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 700;
    color: #F3F3F3
}

a i{
    color:#D01418
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #222222;
    padding: 35px 38px;
}    

header div{
    display: flex;
}    

header div h1 {
    color: #F3F3F3;
    margin-left: 20px
}    

header div h1 span{
    color: #D01418
}    

header nav ul{
    display: flex;
    list-style-type: none;
}    

header nav ul li{
    margin-left: 8px;
}

header nav ul li:nth-child(5){
    margin-left: 46px
}    

main{
    background: #ccd0d3;
}


main section.banner{
    height: calc(100vh - 110px);
    background-image: url(../img/backgroundGame.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.banner h4{
    color:#F3F3F3;
    font-size: 40px;
}

main section.banner h4 span{
    color: #D01418;
}

main section.banner button{
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color: #F3F3F3;
    padding: 16px 61px;
    background: #D01418;
}

main section.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 40px 0 20px;
    font-size: 30px;
}


main section.products div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section.products div article{
    text-align: center;
    border-radius: 5px;
    background: white;
    width: 265px;
    padding: 30px 20px 20px;
}

main section.products div article img{
    margin-bottom: 30px;
}

main section.products div article span{
    text-align: left;
    display: block;
    font-size: 13px;
}

main section.products div article span:nth-of-type(1){
    font-size: 20px;
}

main section.products div article span:nth-of-type(3){
    font-size: 10px;
    color: #619D00;
}


main section.starProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main section.starProducts h2.title{
    margin-top: 80px;
}

main section.starProducts div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}


main section.starProducts div article{
    width: 361px;
    padding: 53px 10px 53px 210px;
    margin-bottom: 80px;
    border-radius: 5px;
    background-image: url(../img/banner\ 1.png);
}

main section.starProducts div article:nth-of-type(2){
    background-image: url(../img/banner\ 2.png);
}

main section.starProducts div article h3{
    color: white;
}


footer {
    color: white;
    background: #222222;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer div.containerUpFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer div div.logo{
    display: flex;
    align-items: center;
    margin: 100px 75px;
}

footer div div.logo span{
    margin-left: 5px;
}

footer div div.redes{
    display: flex;
    flex-direction: column;
    margin: 68px 75px 67px 0;
}

footer div div.redes span{
    font-size: 25px;
}

footer div div.redes div.icons{
    display: flex;
    justify-content: space-between;
}

footer div div.redes div.icons i{
    margin-top: 20px;
    font-size: 25px;
}


footer p{
    width: 100%;
    padding: 8px 0;
    background: #C4C4C4;
    text-align: center;
}


@media (max-width: 411px) {
    
    main section.products div article{
        margin-top: 20px;
    }


    footer div div.redes{
        margin-left: 25px;
    }

}











